<!-- @format -->

<div class="container">
  <div class="banner"></div>
  <div class="left col-lg-4">
    <link rel="stylesheet" href="/public/css/signup.css" />
    <div class="container-bottom">
      <div class="form-left">
        <div class="photo-left">
          <img class="photo" src="<%= data.profilePicture %>" />
        </div>
        <div class="desc">
          <h3 class="name"><%= data.name %></h3>
          <p class="info"><%= data.email %></p>
          <p><%= data.biography %></p>
        </div>
        <button class="trigger formbold-btn">Change Profile</button>
        <div class="modal">
          <div class="modal-content">
            <span class="close-button">&times;</span>
            <form
              action="/profile-picture"
              method="post"
              enctype="multipart/form-data"
            >
              <input
                type="file"
                accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                name="profile"
                id="profile"
              />
              <button class="formbold-btn" type="submit">Change</button>
            </form>
          </div>
        </div>
        <link rel="stylesheet" href="/public/css/formfile.css" />
        <style>
          .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
              transform 0.25s;
            z-index: 1001;
          }
          .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            width: 24rem;
            border-radius: 10px;
          }
          .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 50px;
            background-color: lightgray;
          }
          .close-button:hover {
            background-color: darkgray;
          }
          .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: visibility 0s linear 0s, opacity 0.25s 0s,
              transform 0.25s;
          }
        </style>
        <script src="/public/js/modal.js"></script>
      </div>
      <div class="form-right">
        <form action="/edit-account" method="POST">
          <div class="formbold-mb-3">
            <label for="email" class="formbold-form-label"> Email </label>
            <input
              type="email"
              name="email"
              id="email"
              class="formbold-form-input"
              value="<%= data.email %>"
              readonly
            />
          </div>
          <div class="formbold-mb-3">
            <label for="name" class="formbold-form-label"> Name </label>
            <input
              type="text"
              name="name"
              id="name"
              class="formbold-form-input"
              value="<%= data.name %>"
            />
          </div>
          <div class="formbold-mb-3">
            <label for="biography" class="formbold-form-label">
              Biography
            </label>
            <input
              type="text"
              name="biography"
              id="biography"
              class="formbold-form-input"
              value="<%= data.biography %>"
            />
          </div>

          <button class="formbold-btn" type="submit">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .container {
    width: 70%;
  }
  .banner {
    margin-top: 20px;
    background-image: url("/public/img/Nol (1).jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
  }
  .container-bottom {
    margin-top: 30px;
    display: flex;
  }
  .container-bottom .form-left {
    width: 40%;
    padding: 10px;
  }
  .container-bottom .form-right {
    width: 60%;
    padding: 10px;
  }
  .desc {
    padding-top: 20px;
  }
  .desc p:nth-child(1) {
    padding: 10px 0px;
  }
  .name,
  .info {
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    .container-bottom {
      display: block;
    }
  }

  @media (max-width: 800px) {
    .banner {
      height: 150px;
    }
  }
  .photo-left {
    display: flex;
    justify-content: center;
  }
  .photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid #fff;
  }
</style>
