<!-- @format -->
<link rel="stylesheet" href="/public/css/signup.css" />
<div class="container py-lg-5">
  <div class="row py-4">
    <div class="col-lg-3 col-12">
      <div class="profile-card">
        <header>
          <!-- here’s the avatar -->
          <a
            class="picture-wrapper"
            href="<%= data.profilePicture %>"
            target="_blank"
          >
            <img src="<%= data.profilePicture %>" />
          </a>
          <!-- the username -->
          <h1><%= data.name %></h1>
          <!-- and role or location -->
          <h2>Another Web Designer</h2>
        </header>
        <!-- bit of a bio; who are you? -->
        <div class="profile-bio">
          <p><%= data.biography %></p>
        </div>
        <!-- some social links to show off -->
        <ul class="profile-social-links">
          <li>
            <a href="#">
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg"
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg"
              />
            </a>
          </li>

          <!-- add or remove social profiles as you see fit -->
        </ul>
      </div>
      <div class="d-grid gap-2">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-change-profile"
        >
          Change Profile
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#modal-change-password"
        >
          Change Password
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#modal-delete-account"
        >
          Delete Account
        </button>
      </div>
      <!-- action menu -->
      <script src="/public/js/modal.js"></script>
      <!-- end action menu -->
    </div>
    <div class="col-lg-8 col-12 p-4">
      <form action="/edit-account" method="POST">
        <div class="formbold-mb-3">
          <label for="email" class="formbold-form-label"> Email </label>
          <input
            type="email"
            name="email"
            id="email"
            class="formbold-form-input"
            value="<%= data.email %>"
            readonly
          />
        </div>
        <div class="formbold-mb-3">
          <label for="name" class="formbold-form-label"> Name </label>
          <input
            type="text"
            name="name"
            id="name"
            class="formbold-form-input"
            value="<%= data.name %>"
          />
        </div>
        <div class="formbold-mb-3">
          <label for="biography" class="formbold-form-label"> Biography </label>
          <input
            type="text"
            name="biography"
            id="biography"
            class="formbold-form-input"
            value="<%= data.biography %>"
          />
        </div>

        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
<!-- MODALMADEL -->
<div
  class="modal fade"
  id="modal-change-password"
  tabindex="-1"
  aria-labelledby="modal-change-password"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-change-password">
          Change Password
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/user/change-password" method="post">
          <input type="text" name="email" value="<%= data.email %>" hidden />
          <div class="mb-3">
            <label for="oldPassword" class="col-form-label">Old Password</label>
            <input
              type="text"
              class="form-control"
              id="oldPassword"
              name="oldPassword"
            />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >New Password</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              name="newPassword"
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- MODALMADEL -->
<div
  class="modal fade"
  id="modal-change-profile"
  tabindex="-1"
  aria-labelledby="modal-change-profile"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-change-profile">
          Change Profile Picture
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/profile-picture"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="modal-body">
            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                accept=".jpg, .png,
                .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                name="profile"
                id="profile"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- MODALMADEL -->
<div
  class="modal fade"
  id="modal-delete-account"
  tabindex="-1"
  aria-labelledby="modal-delete-account"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-delete-account">
          Confirm Delete Your Acoount
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/user/delete-account" method="post">
          <div class="modal-body">
            <input type="text" name="email" value="<%= data.email %>" hidden />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    border: 0;
  }
  .profile-card header {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 30px 0 20px;
    z-index: 1;
    overflow: hidden;
  }

  .profile-card header:before {
    content: "";
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .profile-card header img {
    border-radius: 100px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .profile-card header h1 {
    font-weight: 200;
    font-size: 24px;
    color: #444;
    margin: 0;
    padding: 10px 0px;
  }

  .profile-card header h2 {
    font-weight: 400;
    font-size: 14px;
    color: #666;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
  }

  .profile-card .profile-bio {
    padding: 0 30px;
    text-align: center;
    color: #888;
  }

  .profile-card .profile-social-links {
    display: table;
    width: 70%;
    margin: 20px auto;
  }

  .profile-card .profile-social-links li {
    display: table-cell;
    width: 33.3333333333333333%;
  }

  .profile-card .profile-social-links li a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    border-radius: 100%;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }

  .profile-card .profile-social-links li a img {
    width: 30px;
    display: block;
  }
</style>
