<!-- @format -->
<link rel="stylesheet" href="/public/css/insert.css" />
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <h3 class="text-center mb-5">Posts Management</h3>
    <form class="form-edit" action="/insert-post" method="POST">
      <div class="formbold-steps">
        <ul>
          <li class="formbold-step-menu1 active">
            <span>1</span>
            Details
          </li>
          <li class="formbold-step-menu2">
            <span>2</span>
            Atribute
          </li>
          <li class="formbold-step-menu3">
            <span>3</span>
            Confirm
          </li>
        </ul>
      </div>

      <input type="text" name="_id" class="_id" hidden />

      <!-- Step 1 -->
      <div class="formbold-form-step-1 active">
        <div>
          <label for="title" class="formbold-form-label"> Title </label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title of your post"
            class="formbold-form-input input-title"
            required
          />
        </div>
        <br />
        <div class="formbold-input-flex">
          <div>
            <label for="category" class="formbold-form-label"> Category </label>
            <select
              name="category"
              id="category"
              class="formbold-form-input"
              required
            >
              <% category.forEach(e => { %>
              <option class="select-option" value="<%= e.category %>">
                <%= e.category %>
              </option>
              <% }) %>
            </select>
          </div>
          <div>
            <label for="author" class="formbold-form-label"> Author </label>
            <input
              type="text"
              name="author"
              placeholder="Alief Aditya Nugraha"
              id="author"
              class="formbold-form-input input-author"
              value="Alief Aditya Nugraha"
              required
              readonly
            />
          </div>
        </div>

        <div>
          <label for="img-address" class="formbold-form-label"
            >Image Address</label
          >
          <input
            type="url"
            name="img"
            id="img-address"
            placeholder="https://"
            class="formbold-form-input input-image"
            required
          />
        </div>
        <br />
        <div>
          <label for="content" class="formbold-form-label">Content</label>
          <textarea
            rows="6"
            name="content"
            id="content"
            placeholder="Type your content"
            class="formbold-form-input input-content"
            required
          ></textarea>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="formbold-form-step-2">
        <div>
          <label for="message" class="formbold-form-label"> Message </label>
          <textarea
            rows="6"
            name="message"
            id="message"
            placeholder="Type your message"
            class="formbold-form-input"
          ></textarea>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="formbold-form-step-3">
        <div class="formbold-form-confirm">
          <p>
            This post wil be save and go to public. Please check again before
            you public tihi post
          </p>
        </div>
      </div>

      <div class="formbold-form-btn-wrapper">
        <button class="formbold-back-btn rounded-pill">Back</button>
        <button class="btn btn-danger rounded-pill" onclick="clearInput()">
          Clear
        </button>
        <button class="formbold-btn rounded-pill" type="submit">
          Next Step
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1675_1807)">
              <path
                d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_1675_1807">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"
/>
<section>
  <div class="container">
    <!-- datatables -->
    <table class="table table-borderless table-hover datatable">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Category</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% let number=1; posts.forEach(e => { %>
        <tr>
          <td><%= number++ %></td>
          <td><%= e.title %></td>
          <td><%= e.category %></td>
          <td><%= e.created_at %></td>
          <td class="d-flex">
            <button
              class="btn btn-warning btn-edit mx-1 btn-sm rounded-pill"
              onclick="edit(`<%- number-2 %>`)"
            >
              Edit
            </button>
            <form action="/delete-post/<%= e.id %>" method="get">
              <button
                class="btn btn-danger btn-delete mx-1 btn-sm rounded-pill"
                type="submit"
              >
                Delete
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <!-- datatable end -->
  </div>
</section>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $(".datatable").DataTable();
  });
</script>
<div class="data" hidden>
  <% posts.forEach(e => { %>
  <div class="post">
    <div class="id"><%= e._id %></div>
    <div class="title"><%= e.title %></div>
    <div class="category"><%= e.category %></div>
    <div class="image"><%= e.image %></div>
    <div class="content"><%= e.content %></div>
    <div class="author"><%= e.author %></div>
  </div>
  <% }) %>
</div>
<script>
  const inputTitle = document.querySelector(".input-title");
  const inputCategory = document.querySelectorAll(".option");
  const inputImage = document.querySelector(".input-image");
  const inputContent = document.querySelector(".input-content");
  const inputAuthor = document.querySelector(".input-author");
  const inputId = document.querySelector("._id");
  const form = document.querySelector(".form-edit");

  function edit(target) {
    const id = document.querySelectorAll(".id");
    const title = document.querySelectorAll(".title");
    const category = document.querySelectorAll(".category");
    const image = document.querySelectorAll(".image");
    const content = document.querySelectorAll(".content");
    const author = document.querySelectorAll(".author");

    inputId.value = id[target].innerHTML;
    inputTitle.value = title[target].innerHTML;
    inputImage.value = image[target].innerHTML;
    inputContent.value = content[target].innerHTML;
    inputAuthor.value = author[target].innerHTML;
    form.action = "/edit-post";
  }

  function clearInput() {
    inputTitle.value = "";
    inputImage.value = "";
    inputContent.value = "";
    inputAuthor.value = "";
    form.action = "/insert-post";
  }
</script>
<script>
  const stepMenuOne = document.querySelector(".formbold-step-menu1");
  const stepMenuTwo = document.querySelector(".formbold-step-menu2");
  const stepMenuThree = document.querySelector(".formbold-step-menu3");

  const stepOne = document.querySelector(".formbold-form-step-1");
  const stepTwo = document.querySelector(".formbold-form-step-2");
  const stepThree = document.querySelector(".formbold-form-step-3");

  const formSubmitBtn = document.querySelector(".formbold-btn");
  const formBackBtn = document.querySelector(".formbold-back-btn");

  formSubmitBtn.addEventListener("click", function (event) {
    event.preventDefault();
    if (stepMenuOne.className == "formbold-step-menu1 active") {
      event.preventDefault();

      stepMenuOne.classList.remove("active");
      stepMenuTwo.classList.add("active");

      stepOne.classList.remove("active");
      stepTwo.classList.add("active");

      formBackBtn.classList.add("active");
      formBackBtn.addEventListener("click", function (event) {
        event.preventDefault();

        stepMenuOne.classList.add("active");
        stepMenuTwo.classList.remove("active");

        stepOne.classList.add("active");
        stepTwo.classList.remove("active");

        formBackBtn.classList.remove("active");
      });
    } else if (stepMenuTwo.className == "formbold-step-menu2 active") {
      event.preventDefault();

      stepMenuTwo.classList.remove("active");
      stepMenuThree.classList.add("active");

      stepTwo.classList.remove("active");
      stepThree.classList.add("active");

      formBackBtn.classList.remove("active");
      formSubmitBtn.textContent = "Submit";
    } else if (stepMenuThree.className == "formbold-step-menu3 active") {
      document.querySelector("form").submit();
    }
  });
</script>
